version: "3.8"
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: gift_selling
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/docker-entrypoint-initdb.d
    restart: always

  server:
    build: ./server
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    restart: always

  client:
    build: ./client
    ports:
      - "3000:80"
    restart: always
